.properties {
    padding: 1.5rem;
    margin-top: 10px;
}

.properties > .item {
    display: inline-block;
    width: 33.33%;
    padding: 15rem;
    box-sizing: border-box;
    margin-top: 20px;
}
